## mako

<%namespace name='static' file='/static_content.html'/>

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2">
        <a href="https://www.Skoolbx.edu">
          <img
            src="${static.url('images/footer-Skoolbx-logo.png')}"
            alt="Skoolbx"
            width="105"
            height="49"
          />
        </a>
      </div>
      <div class="clear"></div>
      <p class="copyright vcard">
        <span>&copy;</span>
        <span class="fn org">Brought together by LearnWorkLearn</span>.
      </p>
    </div>
  </div>
</div>
