## theme-settings.html

<%!
  theme_settings_vars = {
    'effective_date': 'October 26, 2015',
    'accessibility_email': '<a href="mailto:accessibility@justskoolbx@gmail.com">accessibility@justskoolbx@gmail.com</a>',
    'concern_email': '<a href="mailto:concern@justskoolbx@gmail.com">concern@justskoolbx@gmail.com</a>',
    'privacy_email': '<a href="mailto:privacy@justskoolbx@gmail.com">privacy@justskoolbx@gmail.com</a>',
  }
%>

<%def name='get_theme_vars()'>
  <%
    return theme_settings_vars
  %>
</%def>
