<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_('About')}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <section class="vision">
            <section class="message left" id="about">
                <article>
                </article>
            </section>
        </section>
    </section>
</main>
