<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%namespace name='theme_settings' file='/theme-settings.html'/>
<%inherit file="../main.html" />

<%
  theme_vars = theme_settings.get_theme_vars()
  accessibility_email = theme_vars['accessibility_email']
  privacy_email = theme_vars['privacy_email']
%>

<%block name="pagetitle">${_('Contact')}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container contact">
        <section class="vision">
            <section class="message left" id="contact">
                <article>
                    <h2>${_('Platform Help Center and Contact Emails')}</h2>
                    <dl>
                        <dt><strong>Skoolbx Online Help Center:</strong></dt>
                        <dd><a href="https://Skoolbxonline.zendesk.com/hc">https://Skoolbxonline.zendesk.com</a></dd>
                    </dl>
              </article>
            </section>
        </section>
    </section>
</main>
