<%page expression_filter="h"/>

<%!
  from django.conf import settings
  from django.utils.translation import ugettext as _
  from edxmako.shortcuts import marketing_link
%>
<%inherit file="../main.html" />

<%namespace name='static' file='/static_content.html'/>
<%namespace name='theme_settings' file='/theme-settings.html'/>

<%block name="pagetitle">${_('Terms of Service')}</%block>

<%
  theme_vars = theme_settings.get_theme_vars()
  effective_date = theme_vars['effective_date']
  site_name = settings.SITE_NAME
  contact_email = '<a href="mailto:{email}">{email}</a>'.format(email=settings.CONTACT_EMAIL)
  privacy_link = '<a href="{privacy}"><strong>'.format(privacy=marketing_link('PRIVACY'))
  pii_link = '<a href="{privacy}#pii"><strong>'.format(privacy=marketing_link('PRIVACY'))
  copyright_link = '<a href="{copyright}"><strong>'.format(copyright=marketing_link('COPYRIGHT'))
  link_end = '</strong></a>'
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container tos">
        <h2><em>
            ${_('NOTICE: On {date}, LearnWorkLearn amended its Terms of Service as follows:').format(
                date=effective_date
            )}
        </em></h2>

        <hr />

        <h1>${_('Welcome to the LearnWorkLearn Online Learning and Research Community')}</h1>

        <p>
            ${_("LearnWorkLearn University pursues the science of learning. Online learners are important participants in that "
                "pursuit. The information we gather from your engagement with our instructional offerings makes it possible "
                "for faculty, researchers, designers and engineers to continuously improve their work and, in that process, "
                "build learning science."
            )}
        </p>

        <p>
            ${_("By registering as an online learner, you are also participating in {research_link_start}research{link_end} intended to enhance "
                "LearnWorkLearn\'s instructional offerings as well as the quality of learning and related sciences worldwide. In "
                "the interest of research, you may be exposed to some variations in the course materials. LearnWorkLearn does not "
                "use learner data for any purpose beyond the University\'s stated missions of education and research. For "
                "purposes of research, we may share information we collect from online learning activities, including "
                "{pii_link_start}Personally Identifiable Information {link_end}, with researchers beyond LearnWorkLearn. However, "
                "your Personally Identifiable Information will only be shared as permitted by applicable law, will be "
                "limited to what is necessary to perform the research, and will be subject to an agreement to protect the "
                "data. We may also share with the public or third parties aggregated information that does not personally "
                "identify you. Similarly, any research findings will be reported at the aggregate level and will not expose "
                "your personal identity."
            ).format(
                pii_link_start=pii_link,
                research_link_start='<a href="https://lytics.LearnWorkLearn.edu/research/"><strong>',
                link_end=link_end,
            ) | n }
        </p>

        <p>
            ${_("Please read our {link_start}Privacy Policy{link_end} for more information regarding the processing, "
                "transmission and use of data collected through the LearnWorkLearn Online website and LearnWorkLearn's Lagunita "
                "platform."
            ).format(
                link_start=privacy_link,
                link_end=link_end
            ) | n }
        </p>

        <hr />

        <h2 id="tos">${_('Terms of Service for LearnWorkLearn Online Courses')}</h2>

        <p>
            ${_("These Terms of Service govern the LearnWorkLearn Online website and LearnWorkLearn\'s OpenEdX platform, "
                "{site_name} (\"Site\") which is owned by LearnWorkLearn University (\"LearnWorkLearn\") and operated by LearnWorkLearn or its "
                "service providers. You should not access or use this Site until you have carefully read and agreed to the "
                "following Terms of Service."
            ).format(
                site_name=site_name
            ) | n }
        </p>

 
        <p><strong>${_('User Accounts')}</strong></p>

</main>

<%include file="print_document_button.html" />
