<%page expression_filter="h"/>

<%!
  from django.conf import settings
  from django.utils.translation import ugettext as _
  from edxmako.shortcuts import marketing_link
%>
<%inherit file="../main.html" />

<%namespace name='static' file='/static_content.html'/>
<%namespace name='theme_settings' file='/theme-settings.html'/>

<%block name="pagetitle">${_('Terms of Service')}</%block>

<%
  theme_vars = theme_settings.get_theme_vars()
  effective_date = theme_vars['effective_date']
  site_name = settings.SITE_NAME
  contact_email = '<a href="mailto:{email}">{email}</a>'.format(email=settings.CONTACT_EMAIL)
  privacy_link = '<a href="{privacy}"><strong>'.format(privacy=marketing_link('PRIVACY'))
  pii_link = '<a href="{privacy}#pii"><strong>'.format(privacy=marketing_link('PRIVACY'))
  copyright_link = '<a href="{copyright}"><strong>'.format(copyright=marketing_link('COPYRIGHT'))
  link_end = '</strong></a>'
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container tos">
        <h2><em>
            ${_('NOTICE: On {date}, Skoolbx amended its Terms of Service as follows:').format(
                date=effective_date
            )}
        </em></h2>

        <hr />

        <h1>${_('Welcome to the Skoolbx Online Learning and Research Community')}</h1>

        <p>
            ${_("Skoolbx University ......"
            )}
        </p>
</main>

<%include file="print_document_button.html" />
